{
  "openapi": "3.1.0",
  "info": {
    "title": "Spillway API",
    "version": "1.0.0",
    "description": "The control plane for AI spend. One OpenAI-compatible gateway (`/v1/*`) plus a governance and administration API (`/api/*`). Request bodies are generated from the zod schemas in `@spillway/shared` — the single source of truth."
  },
  "servers": [
    {
      "url": "https://api.spillway.dev",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "virtualKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Virtual key `mk-live-…` on the data plane. `x-api-key: mk-live-…` is also accepted."
      },
      "sessionToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "WorkOS session access token (human dashboard sessions) on the control plane."
      },
      "adminKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin API key `mka-…` for machine control-plane access. Requires `X-Spillway-Org`."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "budget_exceeded",
                  "rate_limited",
                  "model_not_allowed",
                  "key_not_found",
                  "key_revoked",
                  "key_paused",
                  "rule_deny",
                  "all_providers_failed",
                  "upstream_error",
                  "invalid_request",
                  "internal_error",
                  "unauthenticated",
                  "forbidden",
                  "not_found",
                  "conflict",
                  "validation_error",
                  "org_required",
                  "last_owner",
                  "key_expired",
                  "service_unavailable",
                  "no_candidates",
                  "provider_key_decrypt_failed",
                  "provider_unavailable",
                  "upstream_parse_error",
                  "request_too_large",
                  "model_not_found",
                  "no_route_available",
                  "approval_required",
                  "tier_required",
                  "plan_upgrade_required",
                  "cel_parse_error",
                  "cel_type_error",
                  "cel_cost_exceeded",
                  "cel_ast_too_large",
                  "cel_banned_macro",
                  "cel_regex_too_long",
                  "approval_chain_unsatisfiable",
                  "not_pending",
                  "self_approval_not_allowed",
                  "not_an_approver",
                  "unknown_effect",
                  "invalid_action_token",
                  "threshold_condition_not_isolated"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Control-plane error envelope (§1.4)."
      },
      "OrgList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "MemberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "TeamList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "ProviderKeyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "VirtualKeyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "AdminKeyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "BudgetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "AliasList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "RoutingRuleList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "PolicyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "DecisionLogList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "AlertList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "ApprovalList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "ApprovalPolicyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "AutomationRuleList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "DelegationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      },
      "RequestList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "has_more",
              "next_cursor"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "description": "Cursor-paginated list (§1.3)."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Gateway"
        ],
        "summary": "OpenAI-compatible chat completion (streaming when `stream:true`).",
        "security": [
          {
            "virtualKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "minLength": 1
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role"
                      ]
                    },
                    "minItems": 1
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 1024
                    }
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider-shaped response (OpenAI/Anthropic JSON, or an SSE stream when streaming)."
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": [
          "Gateway"
        ],
        "summary": "Anthropic-compatible messages endpoint.",
        "security": [
          {
            "virtualKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "minLength": 1
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role"
                      ]
                    },
                    "minItems": 1
                  },
                  "max_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "stream": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "model",
                  "messages",
                  "max_tokens"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider-shaped response (OpenAI/Anthropic JSON, or an SSE stream when streaming)."
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Gateway"
        ],
        "summary": "Merged model catalogue (org providers + aliases).",
        "security": [
          {
            "virtualKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider-shaped response (OpenAI/Anthropic JSON, or an SSE stream when streaming)."
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs": {
      "get": {
        "tags": [
          "Orgs"
        ],
        "summary": "List orgs the caller belongs to.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orgs"
        ],
        "summary": "Create an org.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 63,
                    "pattern": "^[a-z0-9-]+$"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/org": {
      "get": {
        "tags": [
          "Orgs"
        ],
        "summary": "Get the active org.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Orgs"
        ],
        "summary": "Update the active org (settings, data policy).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "bodyLoggingEnabled": {
                    "type": "boolean"
                  },
                  "bodyRetentionDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  },
                  "metadataRetentionDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List members.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Invite a member by email.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "userId",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/members/{userId}": {
      "patch": {
        "tags": [
          "Members"
        ],
        "summary": "Change a member's role.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "role"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "summary": "Remove a member (≥1 owner invariant enforced).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List teams.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create a team.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 63,
                    "pattern": "^[a-z0-9-]+$"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/teams/{id}": {
      "patch": {
        "tags": [
          "Teams"
        ],
        "summary": "Update a team.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 63,
                    "pattern": "^[a-z0-9-]+$"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Delete a team.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/provider-keys": {
      "get": {
        "tags": [
          "Provider keys"
        ],
        "summary": "List provider keys (metadata only; ciphertext never returned).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderKeyList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Provider keys"
        ],
        "summary": "Add a provider key (sealed AES-256-GCM).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "openai"
                    ]
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "apiKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  }
                },
                "required": [
                  "provider",
                  "label",
                  "apiKey"
                ],
                "description": "`base_url` is not accepted yet (custom upstreams ship with the compat adapter)."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/provider-keys/{id}": {
      "delete": {
        "tags": [
          "Provider keys"
        ],
        "summary": "Delete a provider key.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/virtual-keys": {
      "get": {
        "tags": [
          "Virtual keys"
        ],
        "summary": "List virtual keys.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualKeyList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Virtual keys"
        ],
        "summary": "Mint a virtual key (plaintext returned ONCE).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "teamId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "allowedProviders": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "openai"
                      ]
                    },
                    "maxItems": 4
                  },
                  "allowedModels": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "maxItems": 100
                  },
                  "rpmLimit": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 1000000
                  },
                  "tpmLimit": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 1000000000
                  },
                  "maxInputTokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 10000000
                  },
                  "maxOutputTokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 1000000
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 1024
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/virtual-keys/{id}": {
      "patch": {
        "tags": [
          "Virtual keys"
        ],
        "summary": "Update a virtual key (pause/revoke/limits).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "revoked"
                    ]
                  }
                },
                "required": [
                  "status"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin-api-keys": {
      "get": {
        "tags": [
          "Admin keys"
        ],
        "summary": "List admin API keys.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminKeyList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin keys"
        ],
        "summary": "Mint an admin API key (plaintext returned ONCE).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "viewer"
                    ],
                    "default": "admin"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin-api-keys/{id}": {
      "patch": {
        "tags": [
          "Admin keys"
        ],
        "summary": "Update an admin API key (revoke).",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "revoked"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/budgets": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "List budgets.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "Create a budget.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopeType": {
                    "type": "string",
                    "enum": [
                      "org",
                      "team",
                      "virtual_key",
                      "provider"
                    ]
                  },
                  "scopeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "period": {
                    "type": "string",
                    "enum": [
                      "day",
                      "month",
                      "rolling_30d"
                    ]
                  },
                  "limitUsd": {
                    "type": "string",
                    "pattern": "^\\d{1,8}(\\.\\d{1,6})?$"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "enforce",
                      "alert",
                      "monitor"
                    ],
                    "default": "enforce"
                  },
                  "onExceed": {
                    "type": "string",
                    "enum": [
                      "block",
                      "fallback"
                    ],
                    "default": "block"
                  },
                  "fallbackAlias": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 120
                  }
                },
                "required": [
                  "scopeType",
                  "scopeId",
                  "period",
                  "limitUsd"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/budgets/{id}": {
      "patch": {
        "tags": [
          "Budgets"
        ],
        "summary": "Update a budget.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limitUsd": {
                    "type": "string",
                    "pattern": "^\\d{1,8}(\\.\\d{1,6})?$"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "enforce",
                      "alert",
                      "monitor"
                    ]
                  },
                  "onExceed": {
                    "type": "string",
                    "enum": [
                      "block",
                      "fallback"
                    ]
                  },
                  "fallbackAlias": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 120
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Budgets"
        ],
        "summary": "Delete a budget.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aliases": {
      "get": {
        "tags": [
          "Routing"
        ],
        "summary": "List model aliases.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "Create a model alias.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "targets": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "enum": [
                                "openai"
                              ]
                            },
                            "model": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            }
                          },
                          "required": [
                            "provider",
                            "model"
                          ]
                        },
                        "minItems": 1,
                        "maxItems": 10
                      },
                      {
                        "type": "object",
                        "properties": {
                          "default": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          },
                          "context_window": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          },
                          "content_policy": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          }
                        },
                        "required": [
                          "default"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "required": [
                  "alias",
                  "targets"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aliases/{id}": {
      "patch": {
        "tags": [
          "Routing"
        ],
        "summary": "Update a model alias.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targets": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "enum": [
                                "openai"
                              ]
                            },
                            "model": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            }
                          },
                          "required": [
                            "provider",
                            "model"
                          ]
                        },
                        "minItems": 1,
                        "maxItems": 10
                      },
                      {
                        "type": "object",
                        "properties": {
                          "default": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          },
                          "context_window": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          },
                          "content_policy": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "provider": {
                                  "type": "string",
                                  "enum": [
                                    "openai"
                                  ]
                                },
                                "model": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "provider",
                                "model"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 10
                          }
                        },
                        "required": [
                          "default"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "required": [
                  "targets"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Routing"
        ],
        "summary": "Delete a model alias.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/routing-rules": {
      "get": {
        "tags": [
          "Routing"
        ],
        "summary": "List routing rules.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingRuleList"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "Create a routing rule.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "priority": {
                    "type": "integer"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "match": {
                    "type": "object",
                    "properties": {
                      "virtual_key_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 256
                        },
                        "maxItems": 200
                      },
                      "team_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 256
                        },
                        "maxItems": 200
                      },
                      "models": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "maxItems": 200
                      },
                      "metadata": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "maxLength": 1024
                          }
                        },
                        "maxItems": 50
                      }
                    },
                    "additionalProperties": false
                  },
                  "action": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "rewrite_model"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "type": "string",
                                "enum": [
                                  "openai"
                                ]
                              },
                              "model": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 200
                              }
                            },
                            "required": [
                              "provider",
                              "model"
                            ]
                          },
                          "fallbacks": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "enum": [
                                        "openai"
                                      ]
                                    },
                                    "model": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 200
                                    }
                                  },
                                  "required": [
                                    "provider",
                                    "model"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "default": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  },
                                  "context_window": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  },
                                  "content_policy": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  }
                                },
                                "required": [
                                  "default"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "to"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "set_fallbacks"
                            ]
                          },
                          "chain": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "enum": [
                                        "openai"
                                      ]
                                    },
                                    "model": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 200
                                    }
                                  },
                                  "required": [
                                    "provider",
                                    "model"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "default": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  },
                                  "context_window": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  },
                                  "content_policy": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "provider": {
                                          "type": "string",
                                          "enum": [
                                            "openai"
                                          ]
                                        },
                                        "model": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 200
                                        }
                                      },
                                      "required": [
                                        "provider",
                                        "model"
                                      ]
                                    },
                                    "minItems": 1,
                                    "maxItems": 10
                                  }
                                },
                                "required": [
                                  "default"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "chain"
                        ]
                      }
                    ]
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "priority",
                  "match",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "description": "Resource object."
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/routing-rules/{id}": {
      "patch": {
        "tags": [
          "Routing"
        ],
        "summary": "Update a routing rule.",
        "security": [
          {
            "sessionToken": []
          },
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "601c5d19-0b88-42f7-acda-d1d31abd100d"
            },
            "required": false,
            "name": "X-Spillway-Org",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
